.signup-form {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    margin-bottom: 200px;
    font-size: 30px;
    color: #333;
    text-align: center;
}

.signup-form label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.signup-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.signup-form button {
    width: 50%;
    padding: 10px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #493030;
}