@import "tailwindcss";

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --height-default: 896px;
    --width-default: 414px;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

#light {
    background-color: #f3ebf6;
}

#dark {
    background-color: #121212;
}